.course-page {
  padding: 40px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.course-card {
  background: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.course-card:hover {
  transform: translateY(-5px);
  background: #e0fff7;
}
