.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #111;
  color: white;
}

.navbar a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #00ffcc;
}
.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}